<header class="header-wrapper main-header">
    <div class="header-inner-wrapper">
        <div class="header-right">
            
            <div class="header-left">
                <div class="header-links">
                    <a href="javascript:void(0);" class="toggle-btn">
                        <span></span>
                    </a>
                </div>
                
            </div>
            <div class="header-controls">
                <a href="/logout"  style=" margin-right: 10px;">
                    <i class="fas fa-sign-out-alt"></i> logout
                </a>
                
               
            </div>
        </div>
    </div>
</header>