<div class="slide-setting-box">
    <div class="slide-setting-holder">
        <div class="setting-box-head">
            <h4>Dashboard Demo</h4>
            <a href="javascript:void(0);" class="close-btn">Close</a>
        </div>
        <div class="setting-box-body">
            <div class="sd-light-vs"> 
                <a href="index.html">
                    Light Version
                    <img src="assets/images/light.png" alt=""/>
                </a>
            </div>
            <div class="sd-light-vs"> 
                <a href="https://kamleshyadav.com/html/splashdash/splashdash-admin-template-dark/">
                    dark Version
                    <img src="assets/images/dark.png" alt=""/>
                </a>
            </div>
        </div>
        <div class="sd-color-op">
            <h5>color option</h5> 
            <div id="style-switcher">
                <div>
                    <ul class="colors">
                        <li>
                            <p class='colorchange' id='color'>
                            </p>
                        </li>
                        <li>
                            <p class='colorchange' id='color2'>
                            </p>
                        </li>
                        <li>
                            <p class='colorchange' id='color3'>
                            </p>
                        </li>
                        <li>
                            <p class='colorchange' id='color4'>
                            </p>
                        </li>
                        <li>
                            <p class='colorchange' id='color5'>
                            </p>
                        </li>
                        <li>
                            <p class='colorchange' id='style'>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>